.main-content{
    width: 90%;
    display: grid;
    grid-template-columns: 300px 700px;
    margin: auto;
    height: 1000px;
    margin: 20px auto;

}
.left-section{
    border: 1px solid black;
    grid-column: span 1/ span 3;
    background-color: rgb(24, 24, 50);
    color: white;
    padding: 1rem;
    grid-template-columns: 300px;
}
.right-section{
    border: 1px solid black;
    grid-column: span 1/ span 3;
    background-color: white;
    color: black;
    grid-template-columns: 700px;
}
.left-content {
    padding: 1rem;
    margin: auto;
}
.profile-image{
    border: 5px white solid;
    border-radius: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}
.name{
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    word-spacing: 0.02px;
    padding: 0.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.designation {
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.description{
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    height: 25px;
    width: 25px;
    margin: 5px;
    padding: 5px;
    font-size: 1em;
    line-height: 1em;
    list-style: none;
}
.icon:hover{
    background: #a6abad;
}
.icon:focus{
    background: #a6abad;
}
.progress-bar{
    border: 1px white solid;
    height: 4px;
}
.right-main-content{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.right-title{
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 0.5rem;
}
